:root {
  --primary: #d72323;
  --background-gray: #121417;
  --background-card: #28292c;
}

body {
  background-color: #060708;
  font: 19px/23px Montserrat, "Montserrat", sans-serif;
  color: #fff;
  line-height: 1.1;
}

.text-bold {
  font-weight: bold;
}

.botao {
  font-size: 20px;
  background-color: var(--primary);
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid transparent;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease,
    transform 0.3s ease;
}

.botao.onhover:hover {
  background: none;
  border: 1px solid var(--primary);
  color: var(--primary);
  transform: translateY(-5px);
}

.botao.large {
  padding: 13px 22px;
}

.container {
  width: 85%;
  margin: 0 auto;
  padding: 25px;
}

.background-gray {
  background-color: var(--background-gray);
}

.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.veja-mais-div {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
