$xs: 0;
$sm: 600;
$md: 960;
$lg: 1248;
$xl: 1888;
$xxl: 2500;

$xs-start: 0px;
$sm-start: 600px;
$md-start: 960px;
$lg-start: 1248px;
$xl-start: 1888px;
$xxl-start: 2500px;

$xs-end: 599px;
$sm-end: 959px;
$md-end: 1247px;
$lg-end: 1887px;
$xl-end: 2499px;